# Rename this to .env.local and change the JWT_SECRET to a different string
# To generate a random string, use `openssl rand --base64 16`

POSTGRES_URL="postgresql://postgres:password@localhost:5432/mydb?schema=public"
JWT_SECRET="randomstring"
FASTAPI_URL='http://localhost:8000'
